<!DOCTYPE html>
<html ng-app="quoteList">

<head>
    <meta charset="utf-8">
    <title>test</title>
    <link rel="stylesheet" href="styles.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body ng-controller="mainCtrl">
    <!-- <input type="text" placeholder="Add new quote!" ng-model='newQuoteText'>
    <input type="text" placeholder="Quotes author!" ng-model='newQuoteAuthor'>
    <button ng-click="addQuote()">Add Quote</button> -->
    <div class="container filter">
      <div>
        Filter Quotes: <input type="text" ng-model='filterText' />
      </div>
    </div>
    <div class="parent">
        <div class="container">
            <div class="left-container">
              <i class="material-icons">&#xE244;</i><input type="text" placeholder="Add new quote!" ng-model='newQuoteText'>  <i class="material-icons">&#xE244;</i>
              <input class="author" type="text" placeholder="Quotes author!" ng-model='newQuoteAuthor'>
            </div>
            <div class="right-container">
              <button ng-click="addQuote()"><i class="material-icons">&#xE146;</i></button>
            </div>
        </div>
        <div class="container" ng-repeat="quote in quotes | filter: filterText">
            <div class="left-container">
                <div class="text"><i class="material-icons">&#xE244;</i>{{quote.text}}<i class="material-icons">&#xE244;</i><span class="author">     {{quote.author}}</span>
                </div>
            </div>
            <div class="right-container">
                <button ng-click="deleteMe(quote.text)"><i class="material-icons">delete_forever</i></button>
            </div>
        </div>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>
    <script type="text/javascript" src="JS/app.js"></script>
    <script type="text/javascript" src="JS/mainCtrl.js"></script>
    <script type="text/javascript" src="JS/services.js"></script>
</body>

</html>
